# History files
.Rhistory

# Example code in package build process
*-Ex.R

# Produced html / markdown etc. files
dami_qame_*.html
dami_qame_*.Rmd
dami_qame_*.md
dami_qame_*.pdf

# Generated report files
**/reports/figure/
**/reports/saves/
**/reports/*.lof
**/reports/*.log
**/reports/*.lot
**/reports/*.nav
**/reports/*.pdf
**/reports/*.snm
**/reports/*.synctex.gz
**/reports/*.tex
**/reports/*.toc
**/reports/*.vrb
